<html>
  <head>
    <title>Spam Viewer for User {{username}}</title>
  </head>
  <body>	
    <script type = "text/javascript">
      function toggleMe(a){
      var e = document.getElementById(a);
      if(!e)return true;
      if(e.style.display=="none"){
      e.style.display="block"
      }
      else{
      e.style.display="none"
      }
      return true;
      }
    </script>

    <div id ="twitch_panel" style="float:left; width=700px;">
      <iframe
	 src="http://player.twitch.tv/?channel={{username}}"
	 height="360"
	 width="640"
	 frameborder="0"
	 scrolling="no"
	 allowfullscreen="true">
      </iframe>
      </br>
    </div>
    <div id = "compressed_chat" style="float:left; width=300px">
      This is the viewer for {{username}}</br>
      Spam message: {{spamline}}</br>
      
      <p>
	{% for k,v in spammers.iteritems %}
	{{k}}, {{v}}
      </p>
      {% endfor %}
      {{buffer}}
      </br>
    </div>
    
    <div id = "chat_messages"></div>
    <pre>
  </body>
</html>
