<html>
  <head>
    <title>Spam Viewer for User {{username}}</title>
  </head>
  <body>	
    <script type = "text/javascript">
          function toggleMe(a){
          var e = document.getElementById('spam_frame').contentWindow.document.GetElementById(a);
          if(!e)return true;
          if(e.style.display=="none"){
          e.style.display="block"
          }
          else{
          e.style.display="none"
          }
          return true;
          }
        </script>


    <div id ="twitch_panel" style="float:left; width=50%;">
      <iframe
	 src="http://player.twitch.tv/?channel={{username}}"
	 height="540"
	 width="960"
	 frameborder="0"
	 scrolling="no"
	 allowfullscreen="true">
      </iframe>
      </br>
    </div>
    <div id = "compressed_spam" style="float:left; width=500px">
      <iframe 
	 name="spam_frame" id="spam_frame"
	 src="http://twitchcrement.us:8000/spamviewer/spam/{{username}}" width="600" height="1000">
      </br>
      </iframe>
    </div>
    
    <div id = "chat_messages" style="float:left; width=500px">
      <iframe
         name="chat_frame" id="chat_frame"
         src="http://twitchcrement.us:8000/spamviewer/chat/{{username}}" width="600" height="1000">
      </br>
      </iframe>

    </div>
    
  </body>
</html>
